platforms:
  github:
    token: "${GITHUB_TOKEN}"
    url: "https://github.com"
  gitverse:
    token: "${GITVERSE_TOKEN}"
    api_url: "https://api.gitverse.ru"
    url: "https://gitverse.ru"
  gitlab:
    token: "${GITLAB_TOKEN}"
    api_url: "https://gitlab.com/api/v4"
    url: "https://gitlab.com"

source: github
destinations:
  - gitverse
  - gitlab

sync:
  timeout_minutes: 30
